<%= form_with(model: @article, local: true, multipart: true) do |f| %>
  <%= f.label :title, class: "label-#{yield(:class_text)}" %>
  <%= f.text_field :title, class: "form-control" %>
  <%= f.label :content, class: "label-#{yield(:class_text)}" %>
  <%= f.text_area :content, class: "form-control" %>
  <%= f.label :image, class: "label-#{yield(:class_text)}" %>
  <%= f.file_field :image, class: "form-control" %>
  <div class="text-center">
    <%= f.submit yield(:button_text), class: "btn btn-primary btn-#{yield(:class_text)}" %>
  </div><br>
  <%= link_to "戻る", :back %>
<% end %>
