<h1>Forgot your password?</h1>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field" style="width: 80%; margin-left: auto; margin-right: auto;">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control mx-auto w-80" %>
        </div>
        <div class="actions">
          <%= f.submit "Send me reset password instructions", class: "btn btn-lg btn-primary d-block", style: "margin-left: auto; margin-right: auto;" %>
        </div>
      <% end %>
      <div style="width: 80%; margin-left: auto; margin-right: auto;">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
